# Compiled shaders
*.spv

# interop generated .slang include files
*_interop.slang

# Exclude everything in assets/ including subdirectories
assets/**

# Allow BoxTextured (basic model)
!assets/BoxTextured.glb

# Engine-critical textures
!assets/textures/white.wtexture
!assets/textures/error.wtexture
!assets/textures/brdf_lut.wtexture
!assets/textures/smiling_friend.wtexture
