# Compiled shaders
*.spv

# interop generated .slang include files
*_interop.slang

# Exclude everything in assets/ including subdirectories
assets/**

# Allow BoxTextured files back in
!assets/BoxTextured.glb
!assets/BoxTextured.willmodel
